# Object files #
############
*.o
*.m4

# Autobuild files #
############
Makefile
Makefile.in
configure
config.h
config.h.in
config.status
compile
stamp-h1
autom4te.cache
config.log
depcomp
install-sh
missing
src/.deps/
